/* h1{
  color: red;
} */

#link1{
  color: blueviolet;
}

#link2{
  color: blueviolet;
}

#block{
  color: red;
}

.heading{
  color: rgb(244, 10, 10);
  background-color: rgb(191, 187, 187);
  text-align: center; /* Left, Right, Center */
  /*
  text-decoration-line: underline;  // overline, line-through, underLine 
  text-decoration-color: black;
  text-decoration-style: solid; // solid, double, dotted, dashed, wavy 
  text-decoration-thickness: 2px;
  */
  text-decoration: underline blue solid 2px;
  text-transform: capitalize; /* lowercase, uppercase, capitalize */
}

.para{
  text-indent: 100px;
  letter-spacing: 5px;
  word-spacing: 15px;
  line-height: 2.5;
}

.absolute-box{
  height: 400px;
  width: 600px;
  background-color: blue;
}

.relative-box{
  height: 25vh;
  width: 50vw;
  background-color: aquamarine;
}

.percentage{
  height: 100px;
  background-color: black;
  width: 25%;
  border: 2px solid white;
}

.parent-container{
  display: flex;
  flex-direction: row; /* row | row-reverse | column | column-reverse */
  flex-wrap: wrap; /* nowrap | wrap | wrap-reverse */
  justify-content: center; /* flex-start | flex-end | center | space-between | space-around | space-evenly */
  align-items: center; /*flex-start | flex-end | center*/
  height: 500px;
  background-color: antiquewhite;
}

/* Flex Direction - row | row-reverse
Flex Wrap - row direction 
Justify Content - row direction 
Align Items - column direction 

Flex Direction - column | column-reverse
Flex Wrap - column direction 
Justify Content - column direction 
Align Items - row direction */

.box{
  width: 100px;
  height: 100px;
  background-color: white;
  border: 1px solid;
  overflow: auto;
}

.image-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.order1{
  order: 1;
}

.order2{
  order: 2;
  align-self: flex-start; /* flex-start | flex-end | center  */
}

.order3{
  order: 3;
}

.heading-border{
  /* border-style : solid;
  border-width: 2px;
  border-color: blue; */

  /* border-top-style: dashed;
  border-left-style: solid;
  border-bottom-style: dotted;
  border-right-style: solid;

  border-bottom-width: 15px;

  border-top-color: red;
  border-bottom-color: red; */

  border: 2px solid red;
  border-radius: 20px;
  padding: 15px;
  margin: 60px;
  font-style: italic;  /* normal | italic */
}

.font-theme{
  font-family: "Dancing Script", cursive;
  font-size: 100px;
  font-weight: lighter;
}

.table-line{
  border: 1px solid;
  border-collapse: collapse;
}

.table-heading{
  background-color: #E91E63;
  color: white;
}

.company-heading{
  width: 200px;
}

.icon-style{
  color: red;
  font-size: 30px;
}

.width{
  width: 300px;
  margin-left: 250px;
}

.container-div{
  width: 400px;
  height: 60px;
  border: 2px solid black;
}

.inner-div{
  width: 200px;
  height: 30px;
  border: 2px solid red;
}

.flex-container{
  height: 450px;
  background-color: #E91E63;
  display: flex;
  flex-direction: row;
}

.flex-item{
  width: 100px;
  height: 100px;
  margin: 10px;
  background-color: white;
  border: 2px solid;
}

@media only screen and (max-width : 480px){
  .body-background{
    background-color: red;
    color: white;
  }

  .flex-container{
    flex-direction: column;
  }

}

@media only screen and (min-width : 481px) and (max-width : 768px){
  .body-background{
    background-color: black;
    color: yellow;
  }

  .flex-container{
    flex-direction: column;
  }
}

@media only screen and (min-width : 769px) and (max-width : 1024px){
  .body-background{
    background-color: purple;
    color: white;
  }

  .flex-container{
    flex-direction: row;
  }
}

/* 

For Mobile Devices – 320px — 480px.
iPads and Tablets – 481px — 768px.
Laptops and small screen – 769px — 1024px.
Large screens and Desktops – 1025px — 1200px.
TV and Extra Large Screens – 1201px and more.

*/